@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
body{
    overflow-x: hidden;
}
.bg-dark{
    background-color: #2B2B2B !important;
}
.btn-danger{
    background-color: #A259FF !important;
    border:none !important;
}
.font-work-sans{
    font-family: 'Work Sans';
}
.border-primary{
    border-color: #A259FF !important;
}
.font-space-mono{
    font-family: 'Space Mono';
}
.fs-1{
    font-size: 22px !important;
}
.fs-6{
    font-size: 16px !important;
}
.bg-black{
    background-color: #3B3B3B !important;
}
.bgimg{
    background-image: url("../images/nfthighlight.png");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}
.bgimg::after{
    background: linear-gradient(180deg, rgba(161, 89, 255, 0) 0%, #A259FF 100%) !important;
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    bottom: 0;
    left: 0;
    z-index:0;
}
.colour{
    z-index:1 !important;
}
.bg-info{
    background-color: #3B3B3B80 !important;
}
.btn-light{
    background-color: white !important;
}
.mt-6{
    margin-top: -4rem;
}
.mt-7{
    margin-top: 10rem;
}
.top-6{
    padding-top:20rem ;
}
.start-6{
    padding-left: 10rem;
}
.ps-6{
    padding-left: 18rem;
}
.border-dark{
    border-color: #3B3B3B !important;
}
.py-6{
    padding: 6.8px 20px;
}
.pt-6{
    padding-top: 10rem;
}
.bordr{
    border-radius: 25px;
}
.btn-dark{
    background-color: #3B3B3B;
}
::placeholder{
    color: white !important;
}